.grid-wrapper {
  display: flex;
  justify-content: center;
}

.grid, th, td {
  border: 1px solid #000000;
  border-collapse: collapse;
}

.grid {
  width: 500px;
  height: 400px;
  background-color: #ffffff;
}

td {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.black-square {
  background-color: #4C4C4C;
}

.speed {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 5px;
}

.plus-btn,
.minus-btn {
  font-size: 35px;
  font-family: monospace;
  text-align: center;
  color: #5a5a5a;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.plus-btn:hover {
  color: #323232;
}

.minus-btn:hover {
  color: #323232;
}